@import "./zh-cn.css";
@import "./pages.css";
@import "./badges.css";
@import "./options-boxes.css";
@import "./inline-demo.css";
@import "./utilities.css";
@import "./style-guide.css";
@import "./vars.css";

.wwads-cn {
  background-color: var(--vt-c-bg-soft) !important;
}
.wwads-text {
  color: var(--vt-c-text-2) !important;
}
.wwads-horizontal .wwads-poweredby, .wwads-vertical .wwads-poweredby {
  margin-top: 0 !important;
}
.wwads-horizontal {
  margin: 16px 0px;
}
@media (min-width: 80rem) {
  .wwads-horizontal {
    display: none !important;
  }
}
